@import url('https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap');

nav {
	background: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20 20 20 20px;
	text-decoration: none;
}

nav a:hover {
	background-color: pink;
}

.parent {
	font-family: 'Neuton', serif;
}

.whale-pic {
	justify-content: center;
	max-width: 50vw;
	max-height: 75vh;
}

nav a {
	padding: 10px;
}
