@import url('https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap');

nav {
	background: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	text-decoration: none;
	margin-bottom: 0;
	margin: 0 !important;
}

.parent {
	font-family: 'Neuton', serif;
}
